name: NewsDataCrawler

on:
  [push]
  # schedule:
  #   - cron: "0 9 * * wed"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          # 개인 토큰을 사용할 것인지 말 것인지
          persist-credentials: false

      - name: 1. pip 업그레이드
        run: python -m pip install --upgrade pip

      - name: 2. 필요한 패키지 다운
        run: pip install -r requirements.txt

      - name: 3. 뉴스 데이터 크롤링
        run: |
          python "src/crawler/news_crawler.py"

      - name: 4. 발매 음악 데이터 크롤링
        run: |
          python "src/crawler/songs_crawler.py"

      - name: 5. 참여 음악 데이터 크롤링
        run: |
          python "src/crawler/join_songs_crawler.py"

      - name: 6. 참여 공연 데이터 크롤링
        run: |
          python "src/crawler/festival_crawler.py"

      - name: 7. Commit files
        run: |
          git config --local user.email "fallinta2@gmail.com"
          git config --local user.name "beurmuz"
          git add .
          # 변경사항이 있을 때만 커밋
          if [ -n "$(git status --porcelain)" ]; then
            git commit -m "#23 [auto] Run crawler and update data"
          else
            echo "No changes to commit"
          fi

      - name: 8. Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
